---
const {img, title, description, gitHubUrl} = Astro.props;
---

<section>
    <div class="bg-[#374151]">
        <img 
            src={img} 
            alt=""
            class="w-[600px] h-[300px]">
    </div>
    <div>
        <button class="bg-[#2E44B3] w-full h-12 rounded-b-xl">
            Repositorio
        </button>
    </div>
</section>