---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.section.astro';
import Home from '../sections/Inicio.section.astro';
import Studies from '../sections/Studies.section.astro';
import Experience from '../sections/Experience.section.astro'
import Projects from '../sections/Project.section.astro'
import Contact from '../sections/Contact.section.astro'
---

<Layout title="Portafolio">
	<main class="grid justify-center justify-items-center items-center text-white py-10 px-4">
		<Header/>
		<Home/>
		<Studies/>
		<Experience/>
		<Projects/>
		<Contact/>
	</main>
</Layout>
