---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.section.astro';
import Inicio from '../sections/Inicio.section.astro';
import SobreMi from '../sections/About.section.astro'
import Experience from '../sections/Experience.section.astro'
import Projects from '../sections/Project.section.astro'
import Contact from '../sections/Contact.section.astro'
---

<Layout title="Portafolio">
	<main class="grid justify-center justify-items-center items-center text-white py-10 px-4">
		<Header/>
		<Inicio/>
		<!--<SobreMi>-->
		<Experience/>
		<Projects/>
		<Contact/>
	</main>
</Layout>
