---
import LinkContact from "./LinkContact.astro"
---

<div
    class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700"
>
    <h5
        class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white"
    >
        ¡Pongamonos en contacto!
    </h5>
    <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Si te interesa mi trabajo puedes contactarme por estos medios.
    </p>
    <ul class="my-4 space-y-3">
        <LinkContact title="Correo electronico" svg="message.svg" url="http://www.sebastianhenaovanegas2@gmail.com"/>
        <LinkContact title="WhatsApp" svg="whatsApp.svg" url="https://wa.me/3147529717"/>
        <LinkContact title="Linkeding" svg="linkeding.svg" url="https://www.linkedin.com/in/sebastián-henao-vanegas-09885a24b"/>
    </ul>
</div>
