---

---



<nav class="bg-black fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4 px-2">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="UserFavicon.svg" class="h-8" alt="Flowbite Logo">
    </a>
    <div class="w-full md:flex md:w-auto md:order-1">    
      <ul class="flex justify-end items-center text-xl">
        <li>
          <a href="#" class="block py-2 px-3 text-white">Sobre mi</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white">Experiencia</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white">Proyectos</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-white">Contacto</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
  
