---

---

<section class="grid grid-cols-1 gap-4 justify-center justify-items-center items-center text-white py-10 px-4"
>
    <article class="w-full">
        <h1 class="text-4xl font-bold text-center text-gray-900 dark:text-white">
            Conoce un poco sobre mi 
        </h1>
    </article>
    <article class="w-full">
        <img 
            src="/svgs/UserFavicon.svg" 
            alt="Imagen de perfil"
            class="w-40 h-40 rounded-full mx-auto mt-8 mb-8">
    </article>
    <article class="flex justify-center justify-items-center w-full">
        <p class="flex justify-center justify-items-center text-lg text-gray-900 dark:text-white w-[90%] text-center md:w-[60%]">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        </p>
    </article>
</section>
