---
import ListExperience from "../components/Experience/ListExperience.astro"
---

<section class="grid justify-star items-center w-[60%] mt-32">
    <article>
        <ListExperience/>
    </article>
</section>
