---

---

<section class="grid justify-center justify-items-center items-center w-full h-20 bg-slate-100">
    <article class="w-full">
        <h1 class="text-lg font-bold text-center text-gray-900">
            Sebastián Henao 2025 
        </h1>
    </article>
</section>