---
---

<section
    class="flex justify-center justify-items-center items-center w-full"
>

<article class="text-center">
    <h1 class="text-6xl font-bold mb-8">
        Hola, soy <span class="text-blue-500">Sebastián Henao</span> 
    </h1>
    <h2 class="text-xl font-normal">
        Apasionado por la tecnología y el desarrollo de software.
    </h2>
</article>

</section>
