<section
    class="flex flex-row justify-center justify-items-center items-center gap-8 mt-32 w-[74%]"
>
    <article class="w-[50%]">
        <img
            class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
            src="UserFavicon.svg"
            alt=""
        />
    </article>
    <article>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                Juan Sebastian Henao
            </h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-ellipsis">
                Analista y desarrollador de sistemas de información
                enfocado en el desarrollo web 
                <strong>de manera autonoma</strong>
                Analista y desarrollador de sistemas de información
                enfocado en el desarrollo web 
                <strong>de manera autonoma</strong> 
            </p>
        </div>
    </article>
</section>
