<section
    class="flex flex-row justify-between justify-items-center items-center gap-4 mt-32 w-[60%]"
>
    <article class="w-[50%]">
        <img
            class="object-cover w-full rounded h-96 md:h-auto md:w-48"
            src="Profile.jpeg"
            alt=""
        />
    </article>
    <article>
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
                Juan Sebastian Henao
            </h5>
            <p
                class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-ellipsis"
            >
                Tecnologo en analisis y sistemas de información con conocimento
                en <strong>JavaScript de lado frontEnd</strong>
                y <strong>Python por el lado backEnd</strong>.
                Manejo otras herramientas como lo son 
                <strong>Nodejs, React, Astro, FastApi, MySql...</strong>
            </p>
        </div>
    </article>
</section>
