---
import CardProject from "../components/Projects/CardProject.astro"
---


<section class="flex justify-between items-center justify-items-center gap-6 mt-36">
    <CardProject img="UserFavicon.svg" title="Proyecto" description="Desccripcion del proyecto" gitHubUrl="www.github.com"/>
    <CardProject img="UserFavicon.svg" title="Proyecto" description="Desccripcion del proyecto" gitHubUrl="www.github.com"/>
    <CardProject img="UserFavicon.svg" title="Proyecto" description="Desccripcion del proyecto" gitHubUrl="www.github.com"/>
    <CardProject img="UserFavicon.svg" title="Proyecto" description="Desccripcion del proyecto" gitHubUrl="www.github.com"/>
</section>
