---
import ListStudies from "../components/Studies/ListStudies.astro"
---

<section
    class="flex justify-center items-center justify-items-center gap-6 mt-36 w-[64%]"
    id="Studies"
>
    <ListStudies/>
</section>
